name: Build Windows EXE

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.6.2'
          host: 'windows'
          target: 'desktop'
          arch: 'win64_msvc2019_64'
          modules: 'qtcharts qtserialport'

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1

      - name: Configure
        run: |
          mkdir build
          cd build
          cmake ../app -G "Visual Studio 17 2022" -A x64

      - name: Build
        run: |
          cd build
          cmake --build . --config Release

      - name: List build folder
        run: |
          dir build
          dir build/Release

      - name: Deploy Qt
        run: |
          cd build/Release
          windeployqt app.exe

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Windows-EXE
          path: build/Release/
